@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #9a48d0;

  /* fonts */
  --font-inter: "Inter", "sans-serif";
  --font-jakarta: "Plus Jakarta Sans", "sans-serif";

  /* breakpoints */
  --breakpoint-xs: 350px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-llg: 1200px;
  --breakpoint-xl: 1440px;
}

@layer components {
  /* .hero-gradient {
    background: linear-gradient(
      135deg,
      hsl(var(--calming-blue)) 0%,
      hsl(var(--nature-green)) 100%
    );
  } */

  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:-translate-y-1;
  }

  /* .text-gradient {
    background: linear-gradient(
      135deg,
      hsl(var(--calming-blue)),
      hsl(var(--nature-green))
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
}
